@media screen and (max-width: 1000px) {

    .banner {
        &__info {
            padding: 100px;
            padding-top: 30px;
            left: 3%;
        }
    }
}

@media screen and (max-width: 768px) {

    .banner {

        &__head {
            font-size: 20px;
        }

        &__describe {
            font-size: 16px;
        }

        &__info {
            padding: 90px;
            padding-top: 30px;
            left: 0;
        }
    }
}

@media screen and (max-width: 480px) {

    .banner {
        &__info {
            padding: 60px;
            padding-top: 15px;
            left: 5%;
        }

        &__describe {
            font-size: 10px;
        }

        &__head {
            font-size: 13px;
            margin: 0;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 360px) {

    .banner {
        &__info {
            padding: 40px;
            padding-top: 5px;
            left: -7%;
        }

        &__describe {
            font-size: 8px;
        }

        &__head {
            font-size: 14px;
            margin: 0;
            line-height: 30px;
        }
    }
}