@media screen and (max-width: 1290px) {

    .basket {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 87px;

        &__sum {
            margin: 0 auto;
        }
    }
}




@media screen and (max-width: 480px) {

    .basket {

        &__content {

            &:nth-child(2) {
                border-top: 1px solid #E1E1E1;
            }
        }

        &__article {
            display: none;
        }

        &__quantity {
            
            &:nth-child(2),
            &:nth-child(3) {
            margin: 0;
            margin-right: 10px;
                margin-top: 10px;
            }

        }

        &__view {
            display: flex;
            flex-wrap: wrap;

            
        }
    }
}