@media screen and (max-width: 1290px) {
    .brands {

        &__description {
            margin-top: 80px;
        }
    }
}

@media screen and (max-width: 675px) {
    .brands {
        margin-top: 60px;

        &__description {
            margin-top: 60px;
        }

        &__list {
            gap: 16px;
        }

        &__item {
            &--img {
                max-width: 93px;
            }
        }
    }
}