@media screen and (max-width: 1000px) {
    .catalog {
        display: none;

        &__burger {
            margin: 0;

            
            span {
                background-color: white;
            }
    
            span:nth-of-type(3) {
                width: 15px;
                left: 34%;
            }

            &--tablet {
                span {
                    background-color: $bubu-pink;
                }

                span:nth-of-type(3) {
                    width: 25px;
                    left: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .catalog {


        &__head {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
    }
}