@media screen and (max-width: 1290px) {

    .categories__select {
        display: block;
    }

    .category__list {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 1000px) {

    .category__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {

    .category__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {

    .category__view {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}