@media screen and (max-width: 768px) {

    .checkout {

        &__order {
            display: none;
        }
        &__content {
            flex-direction: column;
        }

        &__popup {
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
            display: block;
            padding: 30px;
            border-radius: 20px;
        }
    }
}