@media screen and (max-width: 768px) {

    .compare {
        
        &__head {
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
        }

        &__content {
            flex-direction: column;
        }
        &__info {
            display: none;
        }

        &__product {
            margin-top: 0;
            width: 100%;
            max-width: 100%;
        }

        &__item {
            flex-direction: row;
        }

        &__case {
            justify-content: space-between;
        }

        &__tablet {
            display: block;

            &>.compare__info {
                display: block;
            }
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &--name {
                color: #585858;
            }

            &--head {
                margin: 0;
            }
        }
    }
}
