@media screen and (max-width: 1000px) {

    .contacts {

        &__owner {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1000px) {

    .contacts {
        &__forms {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1);
            align-self: start;
        }

        &__info {
            grid-area: 1 / 1 / 2 / 2;
            align-self: start;
        }

        &__social {
            align-self: start;
            grid-area: 2 / 1 / 3 / 2;
        }

        &__communication {
            grid-area: 3 / 1 / 4 / 2;;
        }
    }
}