@media screen and (max-width: 1000px) {
    .footer {

        &__contact {
            display: none;
        }

        &__tablet {
            display: block;
        }

        &__bottom {
            padding: 40px 0;
        }
    }
}

@media screen and (max-width: 738px) {

    .footer {
        &__top {
            background: $bubu-yellow;
            padding: 40px 0;
        }

        &__right {
            &--img {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .footer {
        &__section--block {
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
    }
}
