
@media screen and (max-width: 1000px) {
    
    .header {
        padding-bottom: 0;
        &__top {
            display: none;
        }

        &__bottom {
            padding: 14px 0;
            justify-content: space-between;
        }

        &__tablet-menu{
            display: flex;
        }
    }
}

@media screen and (max-width: 480px) {
    
    .header {
        &__bottom {
            justify-content: space-between;
            gap: 20px;
        }

        &__menu {
    
            &--tablet {
                gap: 20px;
            }
        }

        &__tablet-menu {
            gap: 0;
        }
    }
}