@media screen and (max-width: 1000px) {
    .mail {
        margin-left: 0;
        &__input {
            width: 100%;
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 360px) {
    .mail {
        max-width: 320px;
    }

    .input--mail {
        max-width: 265px;
    }

}