@media screen and (max-width: 1000px) {

    .responds {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .responds {
        grid-template-columns: repeat(1, 1fr);

        &__contacter {
            display: flex;
            flex-direction: column;
        }
    }

    .input__contacer--info {
        width: 100%;
    }

    .btn__enter--respond {
        width: 100%;
    }
}



