@media screen and (max-width: 615px) { 
    .user-menu {
        &__search {
            display: block;
        }
    }
}

@media screen and (max-width: 520px) {
    
    .counter {
        display: none;
    }
}