<template>
    <div class="signin">
        <div class="signin__top"></div>

        <div class="signin__content">
            <div class="signin__logo">
                <img src="/img/logo-checkout.svg" alt="logo-checkout" class="checkout__logo--img">
            </div>
            <h5 class="signin__head">Реєстрція</h5>
            
            <BaseLoader v-model="loader">
                <vee-form class="signin__form" @submit="postDataMethod" :validation-schema="schema">
                    <InputText customClass="input--signin" placeholder="Ім'я" name="name" v-model="formData.name" />
                    <InputText customClass="input--signin" placeholder="Телефон" name="phone"
                        v-model="formData.phone" />
                    <InputText customClass="input--signin" placeholder="E-mail" name="email" v-model="formData.email" />
                    <InputText customClass="input--signin" placeholder="Пароль" type="password" name="password"
                        v-model="formData.password" />
                    <button type="submit" class="button btn--signin">Зареєструватись</button>
                    <NuxtLink to="/auth" class="button-light btn--signin">У мене є акаунт</NuxtLink>
                    <div class="sigin__or">
                        <div class="signin__select">
                            <p class="signin__select--text">Або</p>
                        </div>
                        <div class="signin__name">
                            <p class="signin__name--head">Увійти за допомогою:</p>
                            <div class="signin__icons">
                                <a href="#" class="checkout__link"><img src="/img/google-logo.svg" alt="google-logo"
                                        class="checkout__link--img"></a>
                                <a href="#" class="checkout__link"><img src="/img/facebook-chekout.svg"
                                        alt="facebook-chekout" class="checkout__link--img"></a>
                            </div>
                        </div>
                    </div>
                </vee-form>
                <vue-snotify />
            </BaseLoader>
            
        </div>

        <div class="signin__bottom"></div>
    </div>
</template>

<script setup>

definePageMeta({
    layout: "defaultClear",
});

const { $snotify } = useNuxtApp();


const loader = ref(false);

import { useForm, useField } from 'vee-validate';
import * as yup from 'yup';




// Define a validation schema
/* const schema = yup.object({
    name: yup.string().required().min(6),
    email: yup.string().required().email(),
    password: yup.string().required().min(8),
    phone: yup.number().required().min(8),
}); */



const formData = ref({
    name: "",
    phone: "",
    email: "",
    password: ""
});




async function postDataMethod(val, actions) {
    try {
        loader.value = true;
        const data = await $api().auth.register(formData.value);
        $snotify.success("success");
        actions.resetForm({
        name: "",
        phone: "",
        email: "",
        password: ""
        });

    }
    catch (e) {
        $snotify.error(e.data);
        actions.setErrors(e.data.errors)
    }
    finally {
        loader.value = false;
    }


}



</script>
