.aside {

    width: 234px;

    &__categories {
        display: flex;
    flex-direction: column;
    }

    &__select {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    }

    &__arrow {

        &--rotate{
            transform: rotate(180deg);
        }
    }
}



