.basket {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 182px;
    width: 100%;

    &__head {
        display: flex;
        align-items: center;
    }

    &__link {
        @include font300;
        font-size: 17px;
        color: #585858;
        text-decoration: underline;
        margin-left: 30px;
    }

    &__content {
        width: 100%;
        margin-top: 50px;
    }

    &__categories {

        &--item {
            color: #585858;

            &:nth-child(2),
            &:nth-child(3) {
                margin: 0 auto;
            }
        }

    }


    &__selects {
        
        margin-right: 30px;
    }

    &__product {
        display: flex;
        align-items: center;
    }

    &__article {
        display: grid;
        grid-template-columns: 5fr repeat(2, 1fr);
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #E1E1E1;
        
        &--name {
            color: black;
            margin-right: 20px;
        }

        &--price {
            font-size: 17px;
            text-align: center;
            color: black;
        }

        &--sum {
            font-weight: 700;
        }

    }

    &__active {
        justify-content: flex-start;
    }

    &__image {
        max-width: 100px;
        max-height: 100px;
        margin-right: 20px;
    }

    &__quantity {
        display: flex;
        justify-content: space-between;
        width: 113px;
        height: 48px;
        padding: 5px;
        border-radius: 50px;
        background-color: #FFEAF1;

        &--input {
            background: none;
            border-style: none;
            max-width: 20px;
            text-align: center;
            @include font700;
            font-size: 17px;
            
        }
        &:nth-child(2),
        &:nth-child(3) {
            margin: 0 auto;
        }
    }

    &__sum {
        padding: 50px;
        background-color: #FFEAF1;
        height: 100%;
        max-width: 410px;
        border-radius: 20px;
    }

    &__enter {
        display: flex;
        justify-content: space-between;
    }

    &__order--name {
        color: black;
        font-size: 17px;
    }
    
    &__order--sum {
        font-size: 20px;
        font-weight: 700;
        color: black;
    }

    &__view {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        padding: 15px 0;
        align-self: start;
        color: #000;
        border-bottom: 1px solid #E1E1E1;

        &.basket__popup {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 15px;

            margin-bottom: 20px;

            .basket__view--img {
                max-width: 100px;
                max-height: 100px;
                grid-area: 1 / 1 / 3 / 2;
            }

            .basket__view--name {
                grid-area: 1 / 2 / 2 / 4;
                @include font300;
                font-size: 15px;
                text-align: left;
            }

            .basket__view--quantity {
                grid-area: 2 / 2 / 3 / 3;
            }

            .basket__view--price{
                grid-area: 2 / 3 / 3 / 4;
            }
    
        }

        &--img {
            border-radius: 10px;
            max-width: 100px;
            max-height: 100px;
            grid-area: 1 / 1 / 2 / 2;
        }

        &--name {
            grid-area: 1 / 2 / 2 / 5;
        }

        &--quantity {
            grid-area: 1 / 6 / 2 / 7;  
        }

        &--price {
            text-align: center;
            font-size: 17px;
            @include font700;
            grid-area: 1 / 7 / 2 / 8;
        }
    }

}

  
  
 







