.button {
    color: white;
    border-radius: 10px;
    background-color: $bubu-pink;
    border-style: none;
    font-family: 'Comfortaa-700';
    font-weight: 700;

    &:hover {
        background-color: #AA2B51;
    }
}

.button-light {
    color: $bubu-pink;
    border: 1px solid $bubu-pink;
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Comfortaa-700';
    font-weight: 700;
    text-align: center;

    &:hover {
        background-color: #FFEAF1;
    }
}

.btn--search {
    background: none;
    padding: 15px;
    border-style: none;
}

.button--next {
    margin-left: auto;
}

.banner__scrol--button {
    border-style: none;
    background-color: white;
    border-radius: 50%;
    max-width: 48px;
    max-height: 48px;
    padding: 14px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.button--sale {
    border-style: none;
    background-color: white;
    max-width: 20px;
    max-height: 20px;
}

.btn--search {
    color: white;
}

.button__acide--hide {
    border-style: none;
    background: white;
    height: inherit;
    max-height: 20px;
}

.button--filter {
    background-color: $bubu-pink;
    padding: 10px;
    margin-left: 10px;
}

.button--quantity {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: white;
    font-family: 'Comfortaa-700';
    font-weight: 700;
    font-size: 20px;
    background-color: $bubu-pink;
    border-style: none;
}

.button--order {
    width: 100%;
    padding: 30px 58px;
    font-size: 15px;
    margin-top: 19px;
    text-align: center;
}

.btn--tofavourite,
.btn--comparison {
    font-family: 'Comfortaa-700';
    font-weight: 700;
    font-size: 15px;
    background: none;
    border-style: none;
    display: flex;
    align-items: center;
    color: #A5A5A5;

    &:hover {
        color: $bubu-pink;
    }

    &:hover .product__menu--icon {
        color: $bubu-pink;
    }
}


.btn--buy {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 29px 50px;
    text-transform: uppercase;

    &--name {
        font-family: 'Comfortaa-700';
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.btn--click {
    padding: 29px 50px;
    font-family: 'Comfortaa-700';
    font-size: 15px;
    font-weight: 700;
}

.btn--description {
    padding: 30px;
    font-size: 15px;
}

.button--watched {
    background-color: $bubu-pink;
    padding: 30px;
    font-family: 'Comfortaa-700';
    font-weight: 700;
    color: white;
    border-style: none;
    border-radius: 10px;
}

.btn--checkout {
    padding: 20px;
}

.btn--signin {
    padding: 20px;
    font-size: 15px;
}

.btn--conclusion {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 20px;
}

.btn--compare {
    padding: 0;
}

.btn--email {
    padding: 20px 35px;
}

.btn--compare {
    border-style: none;
    background: none;
    padding: 0;
}

.btn--filter-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Comfortaa-700';
    font-weight: 700;
    font-size: 15px;
}

.btn--select-filter {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    font-family: 'Comfortaa-300';
    font-weight: 300;
    font-size: 15px;
    color: black;
}

.btn__basket--popup {
    width: 100%;
    color: $bubu-pink;
    background: none;
    margin-top: 30px;
    text-decoration: underline;
    text-align: center;

    &:hover {
        background-color: transparent;
        color: black;
    }
}

.btn__enter--filter {
    padding: 20px;
    width: 100%;
    text-align: center;
}


.btn__enter--respond {
    margin: 0 auto;
    width: 345px;
    max-width: 345px;
    padding: 20px;
}

.btn__brands-rewiew {
    color: $bubu-pink;
    font-weight: 600;
    text-decoration: underline;
    @include font700;
    font-size: 15px;
    border-style: none;
    background-color: #fff;
}

.btn__del-img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    font-size: 20px;
    padding: 0;
    background-color: $bubu-pink;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;

}

.product__comment--btn {
    background: none;border-style: none;
    font-size: 15px;
    font-family: 'Comfortaa-300';
    font-weight: 300;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.brands__description--btn {
    background: none;
    border-style: none;
    color: $bubu-pink;
    @include font700;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
}



