.catalog {
    background-color: white;
    width: 238px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
    }
    &__top {
        display: flex;
        color: black;
        @include font500;
        font-size: 17px;
        margin-right: 30px;
        padding: 30px;
        width: 100%;
        gap: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-style: none;
        background-color: transparent;

        &--unactive {
            background-color: $bubu-light;
        }

        &--border {
            &::after {
                position: absolute;
                content: '';
                height: 1px;
                width: 174px;
                background-color:#E1E1E1;
                bottom: 0;
            }
        }

        &--tablet {
            height: 79px;
            background-color: $bubu-light;
            border-radius: 20px;
        }
    }

    &__name {

        &--head {
            text-transform: uppercase;
        }
    }

    &__burger {
        width: 30px;
        height: 16px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-right: 7px;
        
        

        span {
            width: 25px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $bubu-pink;
            transition: all 0.5s; 
        }

        span:nth-of-type(2) {
            top: calc(50% - 7px);
        }

        span:nth-of-type(3) {
            top: calc(50% + 7px);
        }
    }

    &__bottom {
        position: absolute;
        padding: 30px;
        top: 100%;
        left: 0;
        background-color: white;
        z-index: 20;
        box-shadow: -1px 43px 40px 15px rgba(0, 0, 0, 0.07);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;

        &--tablet {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }

        &--btn {
            display: flex;
            gap: 10px;
            align-items: center;
            background: none;
            border-style: none;
            color: black;
            @include font500;
            font-size: 17px;
        }

        &--arrow {
            width: 10px;
            height: 10px;
            border-left: 1px solid $bubu-pink;
            border-bottom: 1px solid $bubu-pink;
            transform: rotate(45deg);
        }
    }

    &__item {

        &--icon {
            margin-right: 11px;
        }

        &--footer {
            padding-right: 55px;
        }
    }

    &__link {
        color: black;
        font-family: 'Comfortaa-300';
        font-weight: 300;
        font-size: 15px;
        display: flex;
        align-items: center;
        line-height: 17px;

        &--footer {
            color: white;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        

        &--footer {
            display: flex;
            flex-direction: column;
            max-width: 390px;
            gap: 15px;
        }
    }

    &__image {
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }

    &__back {
        margin-top: 30px;
        display: flex;

        &--link {
            color: $bubu-pink;
        }
    }

    &__tablet {
        background-color: transparent;
        border-style: none;

    }

    &__tablet-popup {
        position: absolute;
        background-color: $bubu-pink;
        height: 100vh;
        max-width: 266px;
        top: 150%;
        left: -30px;
        z-index: 10;
        padding: 30px 15px 30px 30px;
    }

}

