.checkout {
    height: 100%;
    margin-top: 30px;

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__content {
        gap: 32px;
        justify-content: center;
    }

    &__data {
        max-width: 628px;
        width: 100%;
    }

    &__content {
        display: flex;
    }

    &__order {
        max-width: 410px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    &__head {
        margin-bottom: 40px;
        &--name {
            text-transform: uppercase;
            color: black;
            @include font700;
            font-size: 20px;
        }
    }

    &__auth {
        display: flex;

        align-items: center;
        gap: 20px;
        
        &--name {
            color: black;
            @include font500;
        }
    }

    &__login {
        display: flex;
        gap: 20px;
    }

    &__link {
        max-width: 40px;
        max-height: 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }

    &__department {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    &__ordering {
        display: flex;
        justify-content: space-between;
        &--name {
            color: black;
            @include font500;
            font-size: 17px;
        }

        &--link {
            color: $bubu-pink;
            text-decoration: underline;
            @include font700;
        }
    }

    &__articles {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        gap: 20px;
    }

    &__product {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__naming {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;

        &--price {
            @include font700;
            font-size: 17px;
        }
    }

    &__conclusion {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid #F5F5F5;
        border-bottom: 1px solid #F5F5F5;
        gap: 17px;
    }

    &__case {
        color: black;
        display: flex;
        justify-content: space-between;

        &--name {
            @include font300;
            font-size: 17px;
        }

        &--sum {
            @include font500;
            font-size: 17px;
        }
    }

    &__sum {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        &--name {
            @include font500;
            font-size: 17px;
            color: black; 
        }

        &--price {
            @include font700;
            font-size: 20px;
            color: black;
        }
    }

    &__delivery,
    &__payment {
        display: flex;
        gap: 15px;
    }

    &__way {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;
        border: 1px solid #F5F5F5;
        border-radius: 10px;

        &--name {
            color: black;
        }

        &--input {
            accent-color: $bubu-pink;
        }

        &--active {
            background-color: #FFEAF1;
            border: 1px solid $bubu-pink;
            @include font400;
        }
    }

    &__courier {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    &__independent {
        margin-bottom: 10px;

        &--head {
            color: black;
            margin-bottom: 20px;
        }

        &--adress {
            display: flex;
            align-items: center;
            gap: 10px;
            color: black;
            @include font500;
            font-size: 17px;
        }
    }

    &__popup {
        display: none;
    }

    &__review {
        display: flex;
        justify-content: center;
        position: relative;
    }
}