.compare {
    margin: 80px 0;

    &__head {
        display: flex;
        justify-content: space-between;

        &--name {
            font-family: 'Comfortaa-700';
            font-weight: 700;
            font-size: 20px;
            color: black;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 30px;

        &--item {
            display: flex;
            align-items: center;
            color: $bubu-pink;
            font-family: 'Comfortaa-700';
            font-weight: 700;
        }

        &--img {
            margin-right: 10px;
        }
    }

    &__functions {
        display: flex;
        align-items: center;
        gap: 30px;

        &--img {
            max-width: 27px;
            max-height: 17px;
        }

    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 30px;
    }

    &__product {
        width: 410px;
        max-width: 410px;
        margin-top: 30px;
    }

    &__case {
        width: 100%;
        padding: 30px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        display: flex;
        gap: 30px;

    }

    &__item {
        display: flex;
        flex-direction: column;

        &--img {
            max-width: 70px;
            max-height: 70px;
        }

        &--name {
            padding-top: 15px;
            padding-bottom: 10px;
            color: black;
        }

        &--price {
            color: black;
            font-family: 'Comfortaa-500';
            font-weight: 500;
            font-size: 17px;
        }
    }

    &__section {
        padding: 30px;
        border-bottom: 1px solid #E1E1E1;;
        &--head {
            color: black;
            font-family: 'Comfortaa-500';
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 10px;
        }

        &--text {
            color: black;
        }
    }

    &__tablet {
        display: none;
    }
}