.gender {
    margin-top: 29px;

    &__head {
        color: #585858;
    }

    &__select {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 12px;
    }

    &__current {
        font-family: 'Comfortaa-300';
        font-size: 15px;
        padding: 12px;
        color: black;
        border: 1px solid #585858;
        border-radius: 10px;
    }

    &__active {
        border: 1px solid $bubu-pink;
        background-color: #FFEAF1;
    }
}