.language{
    margin-right: 30px;
    margin-left: 20px;
    display: flex;
    color: white;

    &__change {
        font-size: 15px;
        @include font300;
        background-color: transparent;
        border-style: none;
        color: $bubu-light;
        padding: 0;
        text-decoration: underline;
    }

    &__current {
        @include font700;
        color: white;
        text-decoration: none;
    }

    span {
        margin: 0 7px;
    }

    &--tablet {
        margin: 0;
    }
}


