.main {
    width: 100%;

    &__top {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    &__catalog {
        width: 100%;
        display: flex;
        gap: 30px;
    }

    &__category {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}
