.pages {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    li {
        margin-right: 20px;
    }
    .Pagination li {
        width: 41px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--active {
            border-color: $bubu-pink;
        }
    }


    .PaginationControl {
        width: 40px;
        
        &:first-child {
            transform: rotate(180deg);
        }
        & svg {
            width: 20px;
            height: 22px;
            margin: 0;
            fill: transparent;
            stroke: transparent;
            background-image: url("/img/right.svg");
            background-repeat: no-repeat;
        } 
    }
    

    li> .Page {
            width: 41px;
            height: 41px;
            border-radius: 50%;
            color: black;
            border:1px solid #E1E1E1;
            margin: 0;
            font-size: 17px;
            @include font500;
            &::hover {
                border-style: none;
            }
    }

    li> .Page-active {
        border-color: $bubu-pink;
    }


    &__link {
        font-size: 16px;
        font-weight: 700;
        color: black;
    }
}
