.phone {
    font-family: 'Comfortaa-700';
    font-weight: 700;
    color: white;

    &__header {
        font-size: 17px;
        margin-right: 20px;
    }

    &--footer {
        margin-bottom: 15px;
        font-family: 'Comfortaa-700';
        font-size: 20px;
        font-weight: 700;
        color: white;
    }

    &--contacts {
        color: black;
        font-size: 20px;
    }
}