.sales {
    margin-top: 78px;

    &__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
    }

    &__item {
        max-width: 234px;

        &--name {
            @include font300;
            font-size: 15px;
        }

        &--price {
            color: $bubu-yellow;
            margin-top: 15px;
            display: flex;
            gap: 10px;
            @include font700;
            font-size: 17px;
        }

        &--end {
            color: black;
            text-decoration: line-through;
        }
    }

    &__list--profile {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 80px 0;
    }

    &__link {
        position: relative;
        color: black;
    }

    &__img {

        &--percent {
            color: white;
            @include font700;
            background-color: $bubu-yellow;
            padding: 7px;
            font-size: 15px;
            border-radius: 5px;
            position: absolute;
        }
    }



    &__head--sale {
        font-size: 15px;
        color: $bubu-yellow;
        background-color: #FFF0D2;
        padding: 5px;
        margin-left: 10px;
        border-radius: 10px;
    }

    &--product {
        padding-bottom: 80px;
    }



    &__conclusion {
        margin-top: 13px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}




