.steps {
    
    &__list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 50px;
            background-color: $bubu-pink;
        }

        &:last-child::after {
            content: '';
            display: none;
        }
    }

    &__link {
        @include font700;
        font-size: 20px;
        color: $bubu-pink;
        border: 1px solid $bubu-pink;
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        

        &.active {
            background-color: $bubu-pink;
            color: white;
        }

        &.close {
            display: none;
        }

        
    }

    &__checked {
        display: none;

        &.visible {
            width: 40px;
            height: 40px;
            border: 1px solid $bubu-pink;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $bubu-light;;
        }
    }
}