.support {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 29px;

    &__item {
        gap: 20px;
    }

    &__link {
        color: #585858;
        text-decoration: underline;
    }
}