.user-menu {

    &__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }


    &__link {
        font-family: 'Comfortaa-700';
        font-weight: 500;
        display: flex;
        align-items: center;
        color: white;

    }

    &__search {
        display: none;
    }

    &__basket {
        position: relative;
        cursor: pointer;
    }

    &__item {
        position: relative;
    }

    

    &__popup {
        position: absolute;
        z-index: 9;
        top: 60px;
        right: 0;
        width: 405px;
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);  
    }

    
}


