<template>
    <main class="main">  
        <div class="container">
            <div class="profile">
                <div class="profile__head">
                    <p class="profile__head--name">Мій профіль</p>
                    <div class="profile__act">
                        <BaseLoader v-model="loader">
                            <button @click="postDataMethod" class="profile__head--btn">Вийти</button>
                        </BaseLoader>
                    </div>
                </div>

                <ul class="menu">
                    <button
                    
                    v-for="(tabItem, index) in tabItems"
                    :key="index"
                    :class="['menu__button', tabItem.active ? changeTab : '']"
                    @click="changeTabMethod(tabItem.displayName), changeColorTab(tabItem)"
                    >
                            <BaseIconSvg customClass="menu__button--img" 
                            :color="tabItem.color" :width="tabItem.width" 
                            :height="tabItem.height" 
                            :iconName="tabItem.iconName" />
                            {{ tabItem.tabName }}
                    </button>
                    
                </ul>

                <BaseLoader v-model="loader">
                    <vee-form action="" @submit="changeProfileInfo(formData)" class="profile__form" v-if="changeTab == 'main'">
                        <InputText customClass="profile__item" placeholder="Ім'я" name="name" v-model="formData.name"/>
                        <InputText customClass="profile__item" placeholder="Прізвище" v-model="formData.lastName"/>
                        <InputText customClass="profile__item" placeholder="Номер телефону" name="phone" v-model="formData.phone"/>
                        <InputText customClass="profile__item" placeholder="E-mail" name="email" v-model="formData.email"/>
                        <button  type="submit" class="button btn--signin">Зберегти</button>
                    </vee-form> 
                </BaseLoader>

                <ul class="sales__list sales__list--profile" v-if="changeTab == 'favorite'">
                    <li class="sales__item">
                        <a href="#" class="sales__link"><span class="sales__img--percent">-30%</span><img src="/img/iq-ball.png" alt="iq ball" class="sales__img">
                            <p class="sales__item--name">Іграшка-головоломка Same Toy IQ Ball Cube</p>
                            <p class="sales__item--price"><span class="sales__item--end">300 грн</span>200 грн</p>
                            <div class="sales__conclusion">
                                <button class="button btn--conclusion">Купити</button>
                                <button class="button btn--compare"><img src="/img/favorite-profile-button.svg" alt="favorite-profile-button" class="sales__conclusion--img"></button>
                                <button class="button btn--compare"><img src="/img/сomparison-profile-button.svg" alt="сomparison-profile-button" class="sales__conclusion--img"></button>
                            </div>
                        </a></li>
                    <li class="sales__item">
                        <a href="#" class="sales__link"><span class="sales__img--percent">-10%</span><img src="/img/car-crib.png" alt="car-crib" class="sales__img">
                            <p class="sales__item--name">Автокрісло Maxi-Cosi Citi Concrete grey</p>
                            <p class="sales__item--price"><span class="sales__item--end">3000 грн</span>2800 грн</p>
                            <div class="sales__conclusion">
                                <button class="button btn--conclusion">Купити</button>
                                <button class="button btn--compare"><img src="/img/favorite-profile-button.svg" alt="favorite-profile-button" class="sales__conclusion--img"></button>
                                <button class="button btn--compare"><img src="/img/сomparison-profile-button.svg" alt="сomparison-profile-button" class="sales__conclusion--img"></button>
                            </div>
                        </a></li>
                    <li class="sales__item">
                        <a href="#" class="sales__link"><span class="sales__img--percent">-30%</span><img src="/img/bb-botle.png" alt="bb-botle" class="sales__img">
                            <p class="sales__item--name">Пляшечка 130 мл</p>
                            <p class="sales__item--price"><span class="sales__item--end">150 грн</span>100 грн</p>
                            <div class="sales__conclusion">
                                <button class="button btn--conclusion">Купити</button>
                                <button class="button btn--compare"><img src="/img/favorite-profile-button.svg" alt="favorite-profile-button" class="sales__conclusion--img"></button>
                                <button class="button btn--compare"><img src="/img/сomparison-profile-button.svg" alt="сomparison-profile-button" class="sales__conclusion--img"></button>
                            </div>
                        </a></li>
                    <li class="sales__item">
                        <a href="#" class="sales__link"><span class="sales__img--percent">-10%</span><img src="/img/nutrilon.png" alt="nutrilon" class="sales__img">
                            <p class="sales__item--name">Суміш молочна суха Nutrilon для...</p>
                            <p class="sales__item--price"><span class="sales__item--end">350 грн</span>300 грн</p>
                            <div class="sales__conclusion">
                                <button class="button btn--conclusion">Купити</button>
                                <button class="button btn--compare"><img src="/img/favorite-profile-button.svg" alt="favorite-profile-button" class="sales__conclusion--img"></button>
                                <button class="button btn--compare"><img src="/img/сomparison-profile-button.svg" alt="сomparison-profile-button" class="sales__conclusion--img"></button>
                            </div>
                        </a></li>
                </ul> 

                <div class="menu__history" v-if="changeTab == 'history'">
                    <div class="menu__order">
                        <div class="menu__inform">
                            <p class="menu__history--date">
                            25.09.22
                            </p>
                            <div class="menu__summing">
                                <p class="menu__inform--head">Сума замовлення: <span class="menu__status--sum">300 грн</span></p>
                                <p class="menu__inform--info">Не отримано</p>
                            </div>
                        </div>
                        <div class="menu__product">
                            <img class="menu__product--img" src="/img/nutrilon-basket.png" alt="nutrilon">
                            <p class="menu__product--name">Суміш молочна суха Nutrilon для..</p>
                        </div>
                    </div>
                    <div class="menu__order">
                        <div class="menu__inform">
                            <p class="menu__history--date">
                            25.09.22
                            </p>
                            <div class="menu__summing">
                                <p class="menu__inform--head">Сума замовлення: <span class="menu__status--sum">5200 грн</span></p>
                                <p class="menu__inform--info menu__inform--done">Oтримано</p>
                            </div>
                        </div>
                        <div class="menu__product">
                            <img class="menu__product--img" src="/img/carriage-article.png" alt="carriage">
                            <p class="menu__product--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                        </div>
                        <div class="menu__product">
                            <img class="menu__product--img" src="/img/iq-ball-article.png" alt="iq-ball">
                            <p class="menu__product--name">Іграшка-головоломка Same Toy IQ Ball Cube</p>
                        </div>
                    </div>
                </div>

                <form class="profile__form" v-if="changeTab == 'change'">
                    <InputText customClass="profile__item" type="password" placeholder="Поточний пароль"/>
                    <InputText customClass="profile__item" placeholder="Новий пароль" type="password" />
                    <InputText customClass="profile__item" placeholder="Повторінь новий пароль"/>
                    <button class="button btn--checkout" type="button">Зберегти</button>
                </form>

                <div class="menu__subscribe" v-if="changeTab == 'subscribe'">
                    <p class="menu__subscribe--head">
                        E-mail розсилка
                    </p>
                    <div class="menu__email">
                        <p class="menu__email--current">mymail@mail.com</p>
                        <a href="#" class="menu__email--change">Змінити</a>
                    </div>
                    <button class="button btn--email">Ввімкнути</button>
                </div>


            </div>

            
        </div>
    </main>
</template>

<script setup>
import qs from 'qs';
const { $snotify } = useNuxtApp(),
token = useCookie("token");
const loader = ref(false);
const router = useRouter();


let changeTab = ref('main');


const formData = ref({
    name: "",
    email: "",
    phone: ""
});



let tabItems = ref([
    {displayName: 'main', tabName: 'Основні дані', color: '#6AD245', width: 24,  height: 30, iconName: 'details', active: true},
    {displayName: 'favorite', tabName: 'Список обраних', color: '#D84545', width: 31,  height: 25, iconName: 'favorite-profile', active: false},
    {displayName: 'history', tabName: 'Історія замовлень', color: '#2DEAE4', width: 37,  height: 32, iconName: 'order', active: false},
    {displayName: 'change', tabName: 'Змінити пароль', color: '#4F8AE2', width: 40,  height: 40, iconName: 'change-pass', active: false},
    {displayName: 'subscribe', tabName: 'Підписка', color: '#EF9F42', width: 34,  height: 23, iconName: 'mail-profile', active: false}
]);

function changeTabMethod(name) {
    changeTab.value = name

}

function changeColorTab(item) {
    tabItems.value.forEach(tabItem => tabItem.active = false);
    item.active = true;
}



async function postDataMethod(val, actions) {
    try {
        loader.value = true;
        const data = await $api().auth.logout();
        token.value = '';
        const store = $store().checkLogin;

        store.$patch({
        checkLogin: "" 
        });

        $snotify.success("success");
        router.push('/');
    }
    catch (e) {
        $snotify.error(e.data);
    }
    finally {
        loader.value = false;
    }
}

async function getProfileInfo() {
    try {
        loader.value = true;
        const data = await $api().profile.profile();

        formData.value.name = data.data.name
        formData.value.email = data.data.email
        formData.value.phone = data.data.phone


    }
    catch (e) {
        $snotify.error(e.data);
    }
    finally {
        loader.value = false;
    }
}

async function changeProfileInfo(e) {
    try {

        loader.value = true;
        const changeData = await $api().profile.profileUpdate(e);
        getProfileInfo()
        $snotify.success("success");
    }
    catch (e) {
        $snotify.error(e.data);
    }
    finally {
        loader.value = false;
    }
}

onMounted(() => {

    getProfileInfo();

})


</script>
