<template>
    <main class="main">
        <div class="container">
            <div class="checkout">

                <!-- <Logo /> -->


                <div class="checkout__logo">
                    <img src="/img/logo-checkout.svg" alt="logo-checkout" class="checkout__logo--img">
                </div>
                <div class="checkout__content">
                    <div class="checkout__popup">
                        <div class="checkout__ordering">
                            <p class="checkout__ordering--name">Замолвення</p>
                            <a href="#" class="checkout__ordering--link">Редагувати</a>
                        </div>
                        <div class="checkout__articles">
                            <div class="checkout__product">
                                <img src="/img/carriage-article.png" alt="carriage-article" class="basket__image--article">
                                <div class="checkout__naming">
                                    <p class="checkout__naming--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="checkout__naming--price">5000 грн</p>
                                </div>
                            </div>
                            <div class="checkout__product">
                                <img src="/img/iq-ball-article.png" alt="carriage-article" class="basket__image--article">
                                <div class="checkout__naming">
                                    <p class="checkout__naming--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="checkout__naming--price">5000 грн</p>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__conclusion">
                            <div class="checkout__case">
                                <p class="checkout__case--name">Товари</p>
                                <p class="checkout__case--sum">5200 грн</p>
                            </div>
                            <div class="checkout__case">
                                <p class="checkout__case--name">Доставка</p>
                                <p class="checkout__case--sum">0 грн</p>
                            </div>
                        </div>
                        <div class="checkout__sum">
                            <p class="checkout__sum--name">
                                Сума:
                            </p>
                            <p class="checkout__sum--price">5200 грн</p>
                        </div>
                    </div>
                    <div class="checkout__data">
                        
                        <StepsList :step="changeTab" />
                       

                        <CheckoutFirstStep @step="changeTab = $event" v-if="changeTab == 1" />

                        <CheckoutSecondStep @step="changeTab = $event" v-else-if="changeTab == 2" />

                        <CheckoutThirdStep @step="changeTab = $event" v-else-if="changeTab == 3" />

                    </div>
                    <div class="checkout__order">
                        <div class="checkout__ordering">
                            <p class="checkout__ordering--name">Замолвення</p>
                            <NuxtLink to="/basket" class="checkout__ordering--link">Редагувати</NuxtLink>
                        </div>
                        <div class="checkout__articles">
                            <div class="checkout__product">
                                <img src="/img/carriage-article.png" alt="carriage-article" class="basket__image--article">
                                <div class="checkout__naming">
                                    <p class="checkout__naming--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="checkout__naming--price">5000 грн</p>
                                </div>
                            </div>
                            <div class="checkout__product">
                                <img src="/img/iq-ball-article.png" alt="carriage-article" class="basket__image--article">
                                <div class="checkout__naming">
                                    <p class="checkout__naming--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="checkout__naming--price">5000 грн</p>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__conclusion">
                            <div class="checkout__case">
                                <p class="checkout__case--name">Товари</p>
                                <p class="checkout__case--sum">5200 грн</p>
                            </div>
                            <div class="checkout__case">
                                <p class="checkout__case--name">Доставка</p>
                                <p class="checkout__case--sum">0 грн</p>
                            </div>
                        </div>
                        <div class="checkout__sum">
                            <p class="checkout__sum--name">
                                Сума:
                            </p>
                            <p class="checkout__sum--price">5200 грн</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </main>
</template>

<script setup>

let changeTab = ref(1);




const props = defineProps({
    activeTab: {
      type: Boolean,
      default: false
    }
});


</script>
