<template>
    <main class="main">
        <div class="container">
            <div class="compare">
                <div class="compare__head">
                    <p class="compare__head--name">Порівняння: Дитячі коляски</p>
                    <div class="compare__links">
                        <a href="" class="compare__links--item"><img src="/img/compare-compare.svg" alt="compare" class="compare__links--img">Показати лише відмінності</a>
                        <a href="" class="compare__links--item"><img src="/img/share.svg" alt="share" class="compare__links--img">Поділитися списком</a>
                    </div>
                </div>
                <div class="compare__content">
                    <div class="compare__product">
                        <div class="compare__case">
                            <div class="compare__item">
                                <img src="/img/carriage-article.png" alt="" class="compare__item--img">
                                <div class="compare__description">
                                    <p class="compare__item--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="compare__item--price">5000 грн</p>
                                </div>
                            </div>
                            <div class="compare__functions">
                                <button class="btn--compare">
                                    <BaseIconSvg width="27" height="20" color="#D03664" iconName="basket-compare"/>
                                </button>
                                <button class="btn--compare">
                                    <BaseIconSvg width="15" height="15" color="#585858" iconName="delete-compare"/>
                                </button>
                            </div>
                        </div>
                        <div class="compare__info">
                            <div class="compare__section">
                                <p class="compare__section--head">Тип</p>
                                <p class="compare__section--text">Універсальні коляски 2 в 1</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Вага</p>
                                <p class="compare__section--text">14 кг</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Колір</p>
                                <p class="compare__section--text">Голубий</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Колеса</p>
                                <p class="compare__section--text">Поліуретан</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Країна-виробник</p>
                                <p class="compare__section--text">Китай</p>
                            </div>
                        </div>
                    </div>
                    <div class="compare__product">
                        <div class="compare__case">
                            <div class="compare__item">
                                <img src="/img/carriage-article.png" alt="" class="compare__item--img">
                                <div class="compare__description">
                                    <p class="compare__item--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="compare__item--price">5000 грн</p>
                                </div>
                            </div>
                            <div class="compare__functions">
                                <button class="btn--compare">
                                    <BaseIconSvg width="27" height="20" color="#D03664" iconName="basket-compare"/>
                                </button>
                                <button class="btn--compare">
                                    <BaseIconSvg width="15" height="15" color="#585858" iconName="delete-compare"/>
                                </button>
                            </div>
                        </div>
                        <div class="compare__info">
                            <div class="compare__section">
                                <p class="compare__section--head">Тип</p>
                                <p class="compare__section--text">Універсальні коляски 2 в 1</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Вага</p>
                                <p class="compare__section--text">14 кг</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Колір</p>
                                <p class="compare__section--text">Голубий</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Колеса</p>
                                <p class="compare__section--text">Поліуретан</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Країна-виробник</p>
                                <p class="compare__section--text">Китай</p>
                            </div>
                        </div>
                    </div>
                    <div class="compare__product">
                        <div class="compare__case">
                            <div class="compare__item">
                                <img src="/img/carriage-article.png" alt="" class="compare__item--img">
                                <div class="compare__description">
                                    <p class="compare__item--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="compare__item--price">5000 грн</p>
                                </div>
                            </div>
                            <div class="compare__functions">
                                <button class="btn--compare">
                                    <BaseIconSvg width="27" height="20" color="#D03664" iconName="basket-compare"/>
                                </button>
                                <button class="btn--compare">
                                    <BaseIconSvg width="15" height="15" color="#585858" iconName="delete-compare"/>
                                </button>
                            </div>
                        </div>
                        <div class="compare__info">
                            <div class="compare__section">
                                <p class="compare__section--head">Тип</p>
                                <p class="compare__section--text">Універсальні коляски 2 в 1</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Вага</p>
                                <p class="compare__section--text">14 кг</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Колір</p>
                                <p class="compare__section--text">Голубий</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Колеса</p>
                                <p class="compare__section--text">Поліуретан</p>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Країна-виробник</p>
                                <p class="compare__section--text">Китай</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="compare__tablet">
                    <div class="compare__info">
                            <div class="compare__section">
                                <p class="compare__section--head">Тип</p>
                                <div class="compare__tablet--section">
                                    <p class="compare__section--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="compare__section--text">Універсальні коляски 2 в 1</p>
                                </div>
                                <div class="compare__tablet--section">
                                    <p class="compare__section--name">Коляска 2 в 1 Anex Quant Lava</p>
                                    <p class="compare__section--text">Універсальні коляски 2 в 1</p>
                                </div>
                                <div class="compare__tablet--section">
                                    <p class="compare__section--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="compare__section--text">Універсальні коляски 2 в 1</p>
                                </div>
                            </div>
                            <div class="compare__section">
                                <p class="compare__section--head">Вага</p>
                                <div class="compare__tablet--section">
                                    <p class="compare__section--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="compare__section--text">14 кг</p>
                                </div>
                                <div class="compare__tablet--section">
                                    <p class="compare__section--name">Коляска 2 в 1 Anex Quant Lava</p>
                                    <p class="compare__section--text">15 кг</p>
                                </div>
                                <div class="compare__tablet--section">
                                    <p class="compare__section--name">Коляска 2в1 Anex M/Type Dune mt-01Q</p>
                                    <p class="compare__section--text">14 кг</p>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="sales sales--product">
                  <div class="sales__block">
                      <h4 class="section__head">Ви переглядали</h4>
                      <button type="button" class="button--sale button--next"><img src="/img/right.svg" alt="right"></button>
                  </div>
                  <div class="sales__obj">
                    <ProductCart :options="productsItems" />
                  </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script setup>

let productsItems = ref([
    {id: 12, name: 'Пляшечка 130 мл', image: './img/bb-botle.png', price: '100 грн' , oldPrice: '150 грн'},
    {id: 13, name: 'Пляшечка 130 мл', image: './img/bb-botle.png', price: '120 грн' , oldPrice: '100 грн'},
    {id: 14, name: 'Пляшечка 130 мл', image: './img/bb-botle.png', price: '100 грн' , oldPrice: '150 грн'}
]);

</script>

