<template>
    <main class="main">
        <div class="container">
            <div class="main__top">
                <div class="banner">
                    <div class="banner__img">
                        <Swiper 
                        :slidesPerView="1" 
                        :spaceBetween="30" 
                        :loop="true" 
                        :pagination="{
                        clickable: true,
                        }" 
                        :navigation="{
                            prevEl: prev,
                            nextEl: next
                        }" 
                        :modules="[Pagination, Navigation]" 
                        class="mySwiper"
                        buttonsChange
                        >
                            
                            <SwiperSlide>
                                <img src="/img/bb-banner.png" alt="bb-banner" >
                                <div class="banner__info">
                                    <h3 class="banner__head">ЗНИЖКИ ДО <span class="banner__head--sale">-30%</span> <br>НА
                                        ДИТЯЧІ ЛІЖЕЧКА</h3>
                                    <p class="banner__describe">Щоб малюку спалося ще краще!</p>
                                </div>
                            </SwiperSlide>
                            <SwiperSlide>
                                <img src="https://img.freepik.com/premium-vector/ukraine-flag-with-brush-concept-halftone-effect-flag-ukraine-grunge-style-ukrainian-background-with-hand-painted-concept_115973-3823.jpg?w=2000" alt="">
                            </SwiperSlide>
                            <div ref="prev" class="swiper-button-prev"><BaseIconSvg width="20" height="20" color="#D03664" iconName="left" /></div>
                            <div ref="next" class="swiper-button-next"><BaseIconSvg width="20" height="20" color="#D03664" iconName="right" /></div> 
                        </Swiper>
                        
                    </div>
                </div>
            </div>

            <div class="sales">
                <div class="sales__block">
                    <h4 class="section__head">Акція!<span class="sales__head--sale">Sale</span></h4>
                    <button type="button" class="button--sale button--next">
                        <BaseIconSvg width="20" height="20" color="#D03664" iconName="right" />
                    </button>
                </div>
                <div class="sales__obj">
                    <ProductCart :options="productsItems" />
                </div>
            </div>

            <div class="popular">
                <h4 class="section__head popular__head">Популярні Категорії</h4>
                <div class="popular__categories">
                    <NuxtLink to="#" class="popular__carriages popular__item">
                        <div class="popular__circle popular__circle--carriage">
                        </div>
                        <img src="/img/popular-carriage.png" alt="popular-carriage" class="popular__item--img popular__item--carriage">
                        <h6 class="popular__categories--name popular__categories--carriage">Коляски 2в1</h6>
                    </NuxtLink>
                    <NuxtLink class="popular__crib popular__item">
                        <div class="popular__circle popular__circle--crib">
                        </div>
                        <img src="/img/bb-bed.png" alt="bb-bed" class="popular__item--img popular__item--crib">
                        <h6 class="popular__categories--name popular__categories--crib">Дитячі ліжечка</h6>
                    </NuxtLink>
                    <NuxtLink class="popular__toilet popular__item">
                        <div class="popular__circle popular__circle--toilet">
                        </div>
                        <h6 class="popular__categories--name popular__categories--toilet">Горщики</h6>
                        <img src="/img/toilet.png" alt="toilet" class="popular__item--img popular__item--toilet">
                    </NuxtLink>
                    <NuxtLink class="popular__bed popular__item">
                        <div class="popular__circle popular__circle--bed">
                        </div>
                        <h6 class="popular__categories--name popular__categories--bed">Дитячя постільна білизна</h6>
                        <img src="/img/bed.png" alt="bed" class="popular__item--img popular__item--bed">
                    </NuxtLink>
                    <NuxtLink class="popular__puzzle popular__item">
                        <div class="popular__circle popular__circle--puzzle">
                        </div>
                        <h6 class="popular__categories--name popular__categories--puzzle">Пазли</h6>
                        <img src="/img/puzzle.png" alt="puzzle" class="popular__item--img popular__item--puzzle">
                    </NuxtLink>
                    <NuxtLink class="popular__bath popular__item">
                        <div class="popular__circle popular__circle--bath">
                        </div>
                        <h6 class="popular__categories--name popular__categories--bath">Ванночки</h6>
                        <img src="/img/bath.png" alt="bath" class="popular__item--img popular__item--bath">
                    </NuxtLink>
                </div>
            </div>

            <div class="brands">
                <div class="brands__head">
                    <h4 class="section__head">Популярні бренди</h4>
                    <button type="button" class="button--sale button--next">
                        <BaseIconSvg width="20" height="20" color="#D03664" iconName="right" />
                    </button>
                </div>
                <ul class="brands__list">
                    <li class="brands__item"><img src="/img/playdoh.svg" alt="playdoh" class="brands__item--img"></li>
                    <li class="brands__item"><img src="/img/huggies.svg" alt="huggies" class="brands__item--img"></li>
                    <li class="brands__item"><img src="/img/hipp.svg" alt="hipp" class="brands__item--img"></li>
                    <li class="brands__item"><img src="/img/pampers.svg" alt="pampers" class="brands__item--img"></li>
                    -->
                    <li class="brands__item"><img src="/img/anex.svg" alt="anex" class="brands__item--img"></li>
                    <li class="brands__item"><img src="/img/lego.svg" alt="lego" class="brands__item--img"></li>
                    <li class="brands__item"><img src="/img/bebivita.svg" alt="bebivita" class="brands__item--img"></li>
                </ul>
                <div class="brands__description">
                    <p class="brands__description--text"> Інтернет-магазин дитячих товарів Бу-Бу - зона комфорту малюків
                        і їх батьків. Наш асортимент розроблений в діапазоні "від народження до школи", завдяки чому
                        кожен етап розвитку вашої дитини буде максимально правильним, а головне, цікавим і радісним.</p>
                    <p class="brands__description--text">Товари для дітей - особлива категорія продукції, тому ми
                        довіряємо тільки перевіреним виробникам та брендам, які давно і успішно представлені на
                        світовому ринку. Магазин Бу-Бу є дистриб'ютором таких брендів: Anex, X-lander, Leonardo, Bebe
                        Confort, Welldon, Huffy, Fun Time, Lexus Trike, Nino, Maltex, Ceba baby, X-rider, Play WOW,
                        Miniland, Casato, Klups, Radir, Keenway, Adamex, Roan, Tako.</p>
                    <p class="brands__description--text">На сайті інтернет магазину Бу-Бу ви можете купити товари для
                        дітей абсолютно різних категорій, в залежності від потреб: <br>
                        дитячі коляски, дитяча кімната, стільці і шезлонги, все для годування, гігієна та догляд,
                        автокрісла, дитячий транспорт, іграшки, дитячий одяг.</p>
                </div>
                <div class="brands__link">
                    <a href="#" class="brands__description--link">Докладніше</a>
                </div>
            </div>

            <div class="reviewed">
                <div class="reviewed__head">
                    <h4 class="section__head reviewed__head--name">Ви переглядали</h4>
                </div>

                <ProductCart :options="productsItems" />

            </div>

            

        </div>
    </main>

</template>

<script setup>



import qs from 'qs';

const { $snotify } = useNuxtApp();


const prev = ref(null);
const next = ref(null);

import { Swiper, SwiperSlide } from 'swiper/vue';
import { Pagination, Navigation } from "swiper";
import 'swiper/scss';

import "swiper/scss/pagination";
import "swiper/scss/navigation";




const productsItems = ref([]);

const payload = {
    f: {
        has_discount: 1
    } 
}

async function getProduct() {
    try {
        let queryString = qs.stringify(JSON.parse(JSON.stringify(payload)));
        const data = await $api().variations.variations(queryString);
        productsItems.value = data.data;
        
    }
    catch (e) {
        $snotify.error(e.data);
    }

}

onMounted(() =>

    getProduct()
)



</script>

