<template>
  <ClientOnly>
    <svg
      class="icon-svg"
      :class="[`icon-svg-${iconName}`, customClass]"
      :width="width"
      :height="height"
      :color="color"
    >
      <use :xlink:href="`/sprite.svg#${iconName}`"></use></svg>
  </ClientOnly>
</template>

<script setup>
const props = defineProps({
  iconName: {
    type: String,
    default: "",
  },
  customClass: {
    type: String,
    default: "",
  },
  width: {
    type: [Number, String],
    default: "21",
  },
  height: {
    type: [Number, String],
    default: "21",
  },
  color: {
    type: String,
    default: "white",
  },
});
</script>