<template>
    <aside class="aside">
        <div class="catalog__aside">
            <div class="aside__categories">
                <div class="aside__select">
                    <h5 class="section__current">Категорія</h5>
                    <button @click="hideShowTypeSection" class="button__acide--hide">
                        <img src="/img/aside-arrow.svg" alt="aside-arrow" :class="['aside__arrow', {'aside__arrow--rotate': !categoryTypeSection}]">
                    </button>
                </div>
                <ul :class="['categories__list', {'categories__list--hide': !categoryTypeSection }]">
                    <li class="categories__item"><a href="#" class="categories__link">Коляски 3в1</a></li>
                    <li class="categories__item"><a href="#" class="categories__link">Зимові конверти</a></li>
                    <li class="categories__item"><a href="#" class="categories__link">Аксесуари та комплектуючі</a></li>
                    <li class="categories__item"><a href="#" class="categories__link">Коляски для двійні</a></li>
                    <li class="categories__item"><a href="#" class="categories__link">Муфти</a></li>
                </ul>
                <div class="filter">
                    <div class="filter__content">
                        <div class="filter__checkboxes">

                            <InputChekbox name="В наявності" v-model="formData.avilablity" />

                            <InputChekbox name="Зі знижкою" v-model="formData.sales" />

                        </div>
                        <div class="filter__range">
                            <div class="aside__select">
                                <h5 class="section__current">Ціна</h5>
                                <button @click="hideShowPriceSection" class="button__acide--hide">
                                    <img src="/img/aside-arrow.svg" alt="aside-arrow" :class="['aside__arrow', {'aside__arrow--rotate': !categoryPriceSection}]">
                                </button>
                            </div>
                            <div :class="['filter__control',{'filter__control--hide': !categoryPriceSection}]">
                                <div class="range-controls">
                                    <div class="scale">
                                        <div class="bar"></div>
                                    </div>
                                    <div class="range-toggle range-toggle-min"></div>
                                    <div class="range-toggle range-toggle-max"></div>
                                </div>
                                <div class="price-controls">
                                    <input class="min-price" type="text" name="min-price" value="8000">
                                    <span>-</span>
                                    <input class="max-price" type="text" name="max-price" value="25000">
                                    <button type="button" class="banner__scrol--button button--next button--filter">
                                        <img src="/img/next-white.svg" alt="next-white">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="filter__maker">
                            <div class="aside__select">
                                <h5 class="section__current">Виробник</h5>
                                <button @click="hideShowBarndSection" class="button__acide--hide">
                                    <img src="/img/aside-arrow.svg" alt="aside-arrow" :class="['aside__arrow', {'aside__arrow--rotate': categoryBrandSection == false}]">
                                </button>
                            </div>
                            <ul :class="['maker__list', {'maker__list--hide': !categoryBrandSection}]">
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="Anex" v-model="formData.anex" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="Bair" v-model="formData.bair" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="BabyOno" v-model="formData.babyono" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="Carrello" v-model="formData.carrello" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="OK Baby" v-model="formData.okbaby" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="Babyroom" v-model="formData.babyroom" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="ZD" v-model="formData.zd" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="Маленька Соня" v-model="formData.smallsonya" />
                                </li>
                                <li class="maker__item">
                                    <InputChekbox customClass="filter__availability--maker" name="Espiro" v-model="formData.espiro" />
                                </li>
                            </ul>
                        </div>

                        <button class="button btn__enter--filter">Далі</button>

                    </div>
                </div>
            </div>
        </div>
    </aside>
</template>

<script setup>

const formData = ref({
    avilablity: "",
    sales: "",
});

let categoryPriceSection = ref(true);
let categoryTypeSection = ref(true);

let categoryBrandSection = ref(true);

function hideShowTypeSection() {
    categoryTypeSection.value = !categoryTypeSection.value;
}

function hideShowPriceSection() {
    categoryPriceSection.value = !categoryPriceSection.value;
}

function hideShowBarndSection() {
    categoryBrandSection.value = !categoryBrandSection.value;
}



</script>
