<template>
    <div class="checkout__third" >
        <div class="checkout__head">
            <h5 class="checkout__head--name">
                Оплата
            </h5>
        </div>

        <form class="checkout__payment">
            <InputRadioButtonGender :options="payItems" v-model="formData.pay" @update:modelValue="changePayWayMethod"
                visibleRadio />
        </form>
        <div class="checkout__info">
            <div class="checkout__payment--info">
                <p class="checkout__independent--head">З Вами зв'яжеться менеджер для уточнення всіх деталей</p>
            </div>

            <div class="checkout__review">
                <button href="#" class="btn__brands-rewiew" @click="addReviewMethod">Додати коментар</button>

                        <div class="description__popup" v-if="addReview">
                            <h5 class="description__head description__head--response">
                                Ваш Відгук
                            </h5>
                            <div class="responds__rating responds__rating--popup">
                                <p class="responds__rating--head">Оцінка:</p>
                                <div class="responds__stars responds__stars--popup">
                                    <img src="/img/Star-1-Big.svg" alt="Star-1" class="responds__star--rating">
                                    <img src="/img/Star-1-Big.svg" alt="Star-1" class="responds__star--rating">
                                    <img src="/img/Star-1-Big.svg" alt="Star-1" class="responds__star--rating">
                                    <img src="/img/Star-1-Big-empty.svg" alt="Star-1" class="responds__star--rating">
                                    <img src="/img/Star-1-Big-empty.svg" alt="Star-1" class="responds__star--rating">
                                </div>
                            </div>

                            <div class="responds__fields">
                                <div class="responds__contacter responds__contacter--checkout">
                                    <InputText customClass="input__contacer--info input__contacer--checkout" placeholder="Ім'я" />

                                    <InputText customClass="input__contacer--info input__contacer--checkout" type="email" placeholder="Email" />
                                </div>
                                <textarea class="responds__review" name="" placeholder="Ваш коментар"></textarea>

                                <button class="btn--addimg">
                                    <img src="/img/Add-img.svg" alt="">
                                    Додати фото
                                </button>

                                <button class="button btn__enter--respond">
                                    Залишити
                                </button>
                            </div>
                        </div>

            </div>

            <button class="button btn--checkout" @click="saveData()">Оформити</button>
            <button class="button-light btn--checkout"
            @click="$emit('step', 2)"
            >Назад</button>
        </div>
    </div>
</template>

<script setup>

let changePayWay = ref('Оплата каркою');

let addReview = ref(false);

function addReviewMethod() {
    addReview.value = !addReview.value
} 

function changePayWayMethod(mood) {
    changePayWay.value = mood
}


function saveData() {

localStorage.setItem('formData', JSON.stringify(formData.value));

}

onMounted(() => {

const savedData = JSON.parse(localStorage.getItem('formData'));

if(savedData) {
    formData.value = savedData;
}

})

let payItems = ref([
    {displayName: 'card', name: 'Оплата карткою',  active: true},
    {displayName: 'reciept', name: 'При отриманні', active: false},
    {displayName: 'liqpay', name: 'LiqPay' ,active: false}
])

const formData = ref({
    pay: ""
});

</script>
