<template>
    <div class="checkout__second" >
        <div class="checkout__head">
            <h5 class="checkout__head--name">
                Доставка
            </h5>
        </div>

        <form class="checkout__delivery">
            <InputRadioButtonGender :options="deliveryItems" v-model="formData.delivery"
                @update:modelValue="changeDeliveryMethod" visibleRadio />
        </form>


        <div class="checkout__info">
            <form class="checkout__department" v-if="changeDelItem === 'department'">
                <InputText customClass="input--checkout" name="city" placeholder="Виберіть місто" v-model="formData.city" />
                <InputText customClass="input--checkout" name="department" placeholder="Виберіть відділення" v-model="formData.department"/>
            </form>

            <vee-form class="checkout__department" v-if="changeDelItem === 'courier'">
                <InputText customClass="input--checkout" name="city" placeholder="Виберіть місто" v-model="formData.city"/>
            </vee-form>


            <vee-form class="checkout__courier" v-if="changeDelItem === 'courier'">
                <InputText customClass="input--checkout input--street" name="street" placeholder="Вулиця" v-model="formData.street" />
                <InputText customClass="input--checkout input--house" name="home" placeholder="Будинок" v-model="formData.home"/>
                <InputText customClass="input--checkout input--flat" name="appartments" placeholder="Кв./офіс" v-model="formData.flat" />
            </vee-form>

            <div class="checkout__independent" v-if="changeDelItem === 'self'">
                <p class="checkout__independent--head">Забрати замовлення сьогодні по адресі:</p>
                <p class="checkout__independent--adress"><BaseIconSvg iconName="location" width="13px" height="18.5px" color="#D03664" />
                    Одеса, вул. Михайлівська, 8 (10:00-19:00 щодня) </p>
            </div>

            <button class="button btn--checkout"
            @click="$emit('step', 3), saveData()"
            >Далі</button>
            <button class="button-light btn--checkout"
            @click="$emit('step', 1)"
            >Назад</button>
        </div>
    </div>
</template>

<script setup>

import { useForm, useField, } from 'vee-validate';
import * as yup from 'yup';

// Define a validation schema
const schema = yup.object({
    city: yup.string().required(),
    street: yup.string().required(),
    appartments: yup.string().required(),
    home: yup.string().required()
});



const emit = defineEmits(['step']);


let changeDelItem = ref('department');



function saveData() {

localStorage.setItem('formData', JSON.stringify(formData.value));

}

onMounted(() => {

const savedData = JSON.parse(localStorage.getItem('formData'));

if(savedData) {
    formData.value = savedData;
}

})


let deliveryItems = ref([
    { displayName: 'department', name: 'На відділення', active: false},
    { displayName: 'courier', name: 'Курʼєром', active: false},
    { displayName: 'self', name: 'Самовивіз', active: false}
]);


function changeDeliveryMethod(way) {
    changeDelItem.value = way;
}

const formData = ref({
    delivery: "",
    sity: "",
    department: "",
    street: "",
    home: "",
    flat: '',
});


</script>