<template>
    <div class="upload-files">
        <div v-if="urlsPreview" :class="['responds__images', {'responds__images--preview': urlsPreview.length > 0}, {'responds__images--scroll': urlsPreview.length > 3 }]">
            <div v-for="(item,idx) in urlsPreview" :key="idx" class="responds__images--action">
                <img :src="item" class="responds__images--item">
                <button class="btn__del-img" @click="delImageMethod(idx)"><BaseIconSvg iconName="del-img-review" width="15" height="15" /></button>
            </div>
        </div>
        <label for="file-upload" class="responds__add-img">

            <img src="/img/Add-img.svg" alt="upload-image" @change="onFileChange">
            Додати фото
            <input 
            type="file" 
            id="file-upload" 
            class="responds__add-img--input" 
            accept=".png, .jpg, .jpeg"
            @change="onFileChange"
            multiple
            >
        </label>

    </div>
</template>

<script setup>

let urls = ref([])

let urlsPreview = ref([])
const emit = defineEmits(['update:modelValue', 'update:previewImg']); 


function onFileChange(e) {
    
    const files = e.target.files;

    for(const urlSec of files) {
        urlsPreview.value.push(URL.createObjectURL(urlSec))
        urls.value.push(urlSec)
        console.log(urls.value)
    }

    emit('update:modelValue', urls.value)
    emit('update:previewImg', urlsPreview.value)

}

function delImageMethod(index) {
    urlsPreview.value.splice(index,1);
}





</script>