<template>
    <div 
    class="filter__availability"
    :class="customClass" 
    >
        <label class="filter-label__text">
            <input class="filter-checkbox__input" 
            :placeholder="placeholder" 
            :name="name" 
            :type="type"
            @change="inputHender" 
            :value="modelValue"
            
            >
            {{ name }}
        </label>
    </div>
</template>

<script setup>


const emit = defineEmits(['update:modelValue']); 

function inputHender(value) {

 emit('update:modelValue', value.target.checked)
 console.log(value.target.checked)
}

const props = defineProps({
    placeholder: {
        type: String,
        default: "",
    },
    name: {
        type: String,
        default: "",
    },
    type: {
        type: String,
        default: "checkbox",
    },
    modelValue: {
        type: Boolean,
        default: false,
    },
    customClass: {
        type: String,
        default: "",
    },
});
</script>
