<template>
        <label class="filter-radio__color"
        v-for="(option, index) in options"
        :key="index"
        >
    
            <input class="filter-radio__input"
            :class="customClass"
            :style="`background-color: ${option.property.value}`"  
            :placeholder="placeholder" 
            :name="name" 
            :type="type"
            @change="inputHendler(option)" 
            :value="option.property.value"
            >
            {{ option.name }}
        </label>
</template>

<script setup>

const emit = defineEmits(['update:modelValue']); 

function inputHendler(value) {
 emit('update:modelValue',  value.variation.slug)

 console.log( value.variation.slug)
}


const props = defineProps({
    placeholder: {
        type: String,
        default: "",
    },
    name: {
        type: String,
        default: "currentColor",
    },
    type: {
        type: String,
        default: "radio",
    },
    modelValue: {
        type: String,
        default: ""
    },
    customClass: {
        type: String,
        default: "",
    },
    options: {
    type: [Array, Object],
    default() {
        return []
    }
  }
});

</script>
