<template>
    <ul class="product-cart__list--flex">
        <li v-for="(option, index) in options" :key="index" class="product-cart__item product-cart__item--search">
            <NuxtLink :to="{ path: `/products/${option.id}`, query: {slug: option.slug}}" class="product-cart__link product-cart__link--row">
                <img :src="option.images ? option.images[0].url: 'https://upload.wikimedia.org/wikipedia/commons/8/84/Nothing_silhouette.jpg'" :alt="option.images ? option.images[0].name : 'dafault-image'" class="product-cart__img product-cart__img--search">
                <p class="product-cart__name">{{ option.name }}</p>
                <p class="product-cart__price">
                    <span
                        :class="['product-cart__price--standart', { 'product-cart__price--old': option.price_old !== '0.00' }]">
                        {{option.price}}
                    </span>
                    <span v-if="option.price_old !== '0.00'" class="product-cart__price--new">{{ option.price_old }}</span>
                </p>
            </NuxtLink>
        </li>
    </ul>
</template>

<script setup>

const props = defineProps({
    options: {
        type: [Array, Object],
        default: () => []
    },
    customClass: {
        type: String,
        default: "",
    }
});

</script>