<template>
    <ul class="steps__list">
        <li class="steps__item"  v-for="(item, index) in 3" :key="index">
            <p 
            :class="['steps__link', {'active' : step === item }, {'close': step > item}]"
            >
                {{ index + 1 }}
            </p>
            <div :class="['steps__checked', {'visible': step > item}]">
                <img src="/img/checked-checkout.svg">
            </div>
        </li>

    </ul>
</template>

<script setup>



const props = defineProps({
  options: {
    type: [Array, Object],
    default() {
        return []
    }
  },
  step: {
    type: Number,
    default: 1
  }
});

</script>
