<template>
    <footer class="footer">
          <div class="footer__top">
              <div class="container">
                  <div class="promo">
                      <div class="promo__mail">
                        <h4 class="section__head promo__head">Отримуйте ПРОМОКОДИ ТА ЕКСКЛЮЗИВНІ ПРОПОЗИЦІЇ</h4>
                        <form action="#" class="mail">
                            <InputText customClass="input--mail" name="mail" placeholder="Ваш email" />
                            <button type="button" class="banner__scrol--button button--next"><BaseIconSvg width="20" height="20" color="#D03664" iconName="right"/></button>
                        </form>
                      </div>
                      <div class="footer__right">
                            <img class="footer__right--img" src="/img/young-mother-playing.png" alt="young-mother-playing">
                      </div>
                  </div>
              </div>
              
          </div>
          <div class="footer__tablet">
            <div class="container">
                <p class="phone phone--footer">(063) 128-46-09</p>
                <p class="footer__mail">bubu.shop2018@gmail.com</p>
                <p class="footer__adress">Одеса, вул. Михайлівська 8 (щодня з 10:00 до 20:00)</p>

                <Social />

            </div>
          </div>
          <div class="footer__bottom">           
                  <div class="container">
                      <div class="footer__section--block">
                          <div class="footer__contact">
                              <a href="tel: 0631284609" class="phone phone--footer">(063) 128-46-09</a>
                              <a href="mailto: shop2018@gmail.com" class="footer__mail">bubu.shop2018@gmail.com</a>
                              <p class="footer__adress">Одеса, вул. Михайлівська 8 (щодня з 10:00 до 20:00)</p>

                              <Social />
                              
                          </div>
                          <div class="footer__information">
                              <h4 class="section__head footer__information--head">Інформація</h4>
                              <ul class="footer__about">
                                  <li class="about__item"><nuxt-link to="contacts" class="about__link">Про нас</nuxt-link></li>
                                  <li class="about__item"><nuxt-link to="contacts" class="about__link">Контакти</nuxt-link></li>
                                  <li class="about__item"><nuxt-link to="contacts" class="about__link">Доставка і оплата</nuxt-link></li>
                                  <li class="about__item"><nuxt-link to="contacts" class="about__link">Повернення та обмін</nuxt-link></li>
                                  <li class="about__item"><nuxt-link to="contacts" class="about__link">Політика конфеденційності</nuxt-link></li>
                              </ul>
                          </div>
                          <div class="footer__catalog">
                              <h4 class="section__head footer__catalog--head">Каталог</h4>
                              <div class="footer__catalog--menu">
                                  <ul class="catalog__list catalog__list--footer">
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Дитячі коляски
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Дитяча кімната
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Стільці і шезлонги
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Все для годування
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Гігієна та догляд
                                      </a></li>
                                  </ul>
                                  <ul class="catalog__list catalog__list--footer">
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Автокрісла
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Дитячий транспорт
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Іграшки
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Дитячий одяг
                                      </a></li>
                                      <li class="catalog__item catalog__item--footer"><a href="#" class="catalog__link catalog__link--footer">
                                          Новий товар
                                      </a></li>
                                  </ul>
                              </div>
                          </div>

                      </div>
                      <div class="footer__author">
                          <p class="footer__author--name">© Bubu 2022. Всі права захищені.</p>
                          <ul class="footer__payment">
                              <li class="payment__item"><a href="#" class="payment__link"><img src="/img/mastercard.svg" alt="mastercard" class="payment__link--logo"></a></li>
                              <li class="payment__item"><a href="#" class="payment__link"><img src="/img/visa.svg" alt="visa" class="payment__link--logo"></a></li>
                              <li class="payment__item"><a href="#" class="payment__link"><img src="/img/liqpay.svg" alt="liqpay" class="payment__link--logo"></a></li>
                          </ul>
                      </div>
                  </div>
          </div>
    </footer>
</template>

<script setup>
</script>