<template>
    <main class="main">
        <div class="container">
            <div class="catalog__back">
                <a href="index.html" class="catalog__back--link">Головна ></a>
            </div>
            <div class="catalog__head">
                <h4 class="section__head section__head--filter">Дитячі коляски</h4>
                <ul class="filter__sort">
                    <li v-for="(sortItem, idx) in sortItems" :key="idx" class="filter__quantity filter__quantity--device">
                        <button 
                        @click="productSort(sortItem.sort), changeActiveSortUnit(sortItem)" 
                        href="#" 
                        :class="['filter__sort--btn', {'filter__sort--active': sortItem.active}]">
                            {{ sortItem.displayName }}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="categories__select">
                <div class="categories__select--device">
                    <button class="button btn--filter-menu"><img src="/img/filter-menu.svg" alt="filter" class="categories__select--img">Фільтр</button>
                    <button class="btn--select-filter">В наявності<img src="/img/close-category.svg" alt="filter" class="categories__select--img"></button>
                    <button class="btn--select-filter">Виробник: <span class="product__maker">Anex</span><img src="/img/close-category.svg" alt="filter" class="categories__select--img"></button>
                </div>
            </div>
            <div class="main__catalog">
                <AsideFilter />
                <div class="main__category">
                        
                    <ProductCart :options="productsItems" />
                        
                        
                    <div class="pages">

                        <vue-pagination
                            v-model="payload.page"
                            :pages="qualityPages"
                            :range-size="1"
                            active-color="#fff"
                            @update:modelValue="pageHandler"
                            hideFirstButton
                            hideLastButton
                        /> 
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script setup>
import qs from 'qs';

const payload = {
    order: 'desc',
    page: 1,
    per_page: 15,
    sort: 'name',
    f: {
        facet: {
            categories: ""
        }

    } 
}


const productsItems = ref([]);


const qualityPages = ref();

const { $snotify } = useNuxtApp()

const sortItems = ref([
    {name: 'default', displayName: 'За замовчуванням', sort:'default', active: true},
    {name: 'rating', displayName: 'По популярності', sort: 'name', active: false},
    {name: 'priceLow', displayName: 'Дешевші', sort: 'price', active: false},
    {name: 'priceHight', displayName: 'Дорожчі', active: false}
]);

function changeActiveSortUnit(item) {
    sortItems.value.forEach(sortItem => sortItem.active = false);
    item.active = true;
}


onMounted(()=> {

getProduct();

})

async function getProduct() {
    try {
        let queryString = qs.stringify(JSON.parse(JSON.stringify(payload)));
        const data = await $api().variations.variations(queryString);

        console.log(data)
        productsItems.value = data.data;
        payload.page = data.meta.current_page;
        qualityPages.value = data.meta.last_page;
        
    }
    catch (e) {
        $snotify.error(e.data);
    }

}

function pageHandler(e) {
    payload.page = e;
    getProduct()
}

function productSort(el) {
    payload.sort = el;
    console.log(payload)
    toString
    getProduct()
}




</script>
